<div class="container" ng-controller="bodyCtrl">
	<h1>Convert DNA to Protein</h1>
	<hr>

	<div class="row">
		<div class="col-md-4">
			<h3>DNA</h3>
			<textarea class="form-control" rows="12" placeholder="Insert DNA sequence here" ng-model="entry.dna"></textarea>
		</div>

		<div class="col-md-4">
			<h3>RNA</h3>
			<textarea class="form-control" rows="12" ng-show="done">{{currentRNA}}</textarea>
		</div>

		<div class="col-md-4">
			<h3>Protein</h3>
			<textarea class="form-control" rows="12" ng-show="done">{{currentAA}}</textarea>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<br>
			<button class="btn btn-primary center-block" ng-click="convertDNA()">Convert!</button>
		</div>
	</div>
</div>